[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
aiofiles = "*"
configargparse = "*"
tempora = "*"
python-dateutil = "*"
ruamel-yaml = "*"

[requires]
python_version = "3.9"
