version: 2.1

orbs:
  architect: giantswarm/architect@6.7.0
  codecov: codecov/codecov@5.4.3

workflows:
  test:
    jobs:
    - check-variable-is-set:
        name: check-variable-is-set
        filters:
          tags:
            only: /^v.*/
    - run-tests:
        name: run-tests
        filters:
            # Needed to trigger job also on git tag.
          tags:
            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
        requires:
        - run-tests
        filters:
            # Needed to trigger job also on git tag.
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - publish-github-release:
        name: publish-github-release
        requires:
        - push-to-registries
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

jobs:
  check-variable-is-set:
    machine:
      image: default
    steps:
      - checkout
      - run:
          name: Check variable
          command: |
            [[ -n "${ARCHITECT_GITHUB_TOKEN}" ]] && echo "Variable is set!" || echo "Variable not set! :("
  run-tests:
    machine:
      image: ubuntu-2204:2024.01.1
    steps:
    - checkout
    - run:
        command: mkdir -p .coverage

    - run:
        name: Execute tests
        command: |
          make docker-test-ci

    - codecov/upload:
        verbose: true

  publish-github-release:
    docker:
    - image: cibuilds/github:0.13
    steps:
    - checkout
    - run:
        name: Publish Release on GitHub
        command: |
          ghr -t ${ARCHITECT_GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./dacct.sh
