name: App Catalog Cleanup

on:
  workflow_call:
    inputs:
      app-regexp:
        description: "Regexp of app names the cleanup will apply to"
        default: ".*"
        required: false
        type: string
      keep-since:
        description: "A full date-time. Catalog entries older than this timestamp will be removed"
        required: false
        type: string
      delete-before:
        description: "A time delta (like '3 days' or '4 weeks') to keep catalog entries. Catalog entries older will be removed"
        required: false
        type: string
      limit-number:
        description: "Most recent versions to keep in the catalog"
        required: false
        type: string
      debug:
        description: "Enable debug mode"
        default: true
        required: false
        type: boolean
      dry-run:
        description: "Enable dry-run mode"
        default: true
        required: false
        type: boolean

jobs:
  cleanup:
    name: Run the ACC tool
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Ignore index.yaml.back file
        run: echo "index.yaml.back" >> .git/info/exclude

      - name: Check for dry-run
        id: dry-run
        run: |
          if [ ${{ inputs.dry-run }} = true ]
          then
            echo "dry-run=--dry-run" >> $GITHUB_OUTPUT
          else
            echo "dry-run=" >> $GITHUB_OUTPUT
          fi

      - name: Check for debug
        id: debug
        run: |
          if [ ${{ inputs.debug }} = true ]
          then
            echo "debug=--debug" >> $GITHUB_OUTPUT
          else
            echo "debug=" >> $GITHUB_OUTPUT
          fi

      - name: Conclude condition
        id: condition
        run: |
          if [[ ! -z "${{ inputs.keep-since }}" ]]
          then
            echo "condition=--keep-since \"${{ inputs.keep-since }}\"" >> $GITHUB_OUTPUT
          elif [[ ! -z "${{ inputs.delete-before }}" ]]
          then
            echo "condition=--delete-before \"${{ inputs.delete-before }}\"" >> $GITHUB_OUTPUT
          elif [[ ! -z "${{ inputs.limit-number }}" ]]
          then
            echo "condition=--limit-number \"${{ inputs.limit-number }}\"" >> $GITHUB_OUTPUT
          else
            echo "condition=" >> $GITHUB_OUTPUT
          fi

      - name: Execute ACC tool
        uses: docker://gsoci.azurecr.io/giantswarm/app-catalog-cleanup-tool:0.3.0
        with:
          args: -a "${{ inputs.app-regexp }}" ${{ steps.condition.outputs.condition }} ${{ steps.dry-run.outputs.dry-run }} .

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.19.3

      - name: Recreate the repository index.yaml
        run: |
          mkdir /tmp/build.tmp
          helm repo index --url "https://giantswarm.github.io/$(echo -n ${{ env.GITHUB_REPOSITORY }} | cut -d '/' -f2)" --merge index.yaml /tmp/build.tmp
          sudo cp /tmp/build.tmp/index.yaml .

      - name: Create Pull Request
        id: pull-request
        if: ${{ ! inputs.dry-run }}
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ github.token }}
          title: Periodic App Catalog Cleanup
          commit-message: Periodic App Catalog Cleanup
          branch: cleanup/acct-run-${{ github.run_id }}
          delete-branch: true
          draft: false
          body: |
            Periodic cleanup.

            - Application Regexp: `${{ inputs.app-regexp }}`
            - Cleanup Condition: `${{ steps.condition.outputs.condition }}`
            - Created By: [ACCT Github Workflow][1]

            [1]: https://raw.githubusercontent.com/giantswarm/app-catalog-cleanup-tool/feature/cleanup-workflow/.github/workflows/cleanup.yaml

      - name: Merge Pull Request
        if: steps.pull-request.outputs.pull-request-operation == 'created'
        uses: juliangruber/merge-pull-request-action@9234b8714dda9a08f3d1df5b2a6a3abd7b695353 # v1.3.1
        with:
          github-token: ${{ github.token }}
          number: ${{ steps.pull-request.outputs.pull-request-number }}
          method: squash
